<div class="genre_search">
  <table class="table custom_table">
    <tr>
      <th class='text-center'>カテゴリー検索</th>
    </tr>

    <%= form_with url: search_posts_path, method: :get do |f| %>
      <% @categories.each do |category| %>
        <tr>
          <td>
            <%= link_to search_posts_path(category_id: category.id), method: :get, class: 'btn btn-light' do %>
              <%= category.name %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>

  </table>
</div>
