<div class='container-fluid pt-5'>
  <div class='col-auto text-center'>
    <h1 class='display-3 font-weight-bold'>About</h1>
    <p class='text-large font-weight-bold pt-4 pt-md-5 pb-3'>
      「FPS BIGINNER」は初めてFPSゲームをする人も<br>
       経験者の人も利用することができるコミュニティサイトです！<br>
       フレンド募集や意見交換等にご利用ください。
    </p>
  </div>
  
  <div class="d-flex justify-content-center">
      <%= image_tag assets_path("gun2.png"), class:"img-fluid", width: "300", height: "300" %>
  </div>
 </div>